@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --white: #ffffff;
    --head: #15354B;
    --body: #506270;
    --red: #EF7F65;
    --green: #B1EA8C;
    --blue: #80E0DD;
    --yellow: #FFE35A;
}

h1, h2, h3 {
    font-family: 'Poppins';
    font-weight: 300;
    color: var(--head);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

p {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    color: var(--body);
}

ul,
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    overflow-x: hidden;
}

.button {
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
}

/* ======================================================= */
/* HEADER */
/* ======================================================= */

.header-top .row {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.header-top .row .col-8 {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 153px;
    height: 46px;
    background-image: url('./assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.menu li {
    margin-right: 48px;
}

.menu li:last-child {
    margin-right: 0;
}

.header-button {
    width: 170px;
    padding: 16px 0 12px;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--white);
}

.header-button:hover {
    border: 1px solid var(--red);
    background-color: var(--white);
    color: var(--red);
    transition: 0.25s ease-out;
}

/* ======================================================= */
/* BANNER */
/* ======================================================= */

.banner {
    position: relative;
    min-height: 1040px;
    margin: 80px 0;
    background-image: url('./assets/banner-bg.svg');
    background-position: top center;
    background-repeat: no-repeat;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px 0;
}

.banner-text-head {
    margin-bottom: 36px;
}

.banner-text-body {
    max-width: 820px;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 60px;
}

.banner-button {
    max-width: 270px;
    padding: 16px 72px 12px;
    background-color: var(--white);
    border: 1px solid var(--body);
    border-radius: 28px;
    color: var(--body);
    cursor: pointer;
}

.banner-button:hover {
    border: 1px solid var(--body);
    background-color: var(--body);
    color: var(--white);
    transition: 0.25s ease-out;
}

.banner-image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* ======================================================= */
/* FEATURE */
/* ======================================================= */

.feature {
    background-color: #EFF8FF;
    padding: 100px 0;
    position: relative;
}

.feature .container-fluid {
    display: flex;
    justify-content: center;
}

.feature .feature-heading {
    position: absolute;
    top: -25px;
    left: 105px;
    width: 75px;
    height: 285px;
    background-image: url('./assets/feature-heading.svg');
}

.feature .row {
    display: flex;
    justify-content: center;
}

.feature-item {
    width: 360px;
    height: 300px;
}

.feature-item:last-child {
    margin-right: 0;
}

.feature-icon {
    display: block;
    height: 100px;
    margin-bottom: 44px;
}

.feature-icon img {
    display: block;
    height: 100%;
}

.feature-head {
    font-weight: 500;
    line-height: 1.14;
    margin-bottom: 32px;
}

.feature-body {
    font-size: 16px;
    line-height: 2;
}

/* ======================================================= */
/* MANUAL */
/* ======================================================= */

.manual {
    padding-top: 100px;
}

.manual .row {
    align-items: center;
    padding: 100px 0;
}

.manual-head {
    margin-bottom: 40px;
}

.manual-body {
    line-height: 2;
    margin-bottom: 52px;
}

.manual-form {
    display: flex;
    align-items: flex-end;
}

.manual-input {
    width: 270px;
    height: 45px;
    padding: 15px 20px;
    border-radius: 8px;
    margin-right: 16px;
}

input {
    background-color: #E9FCFA;
}

input {
    color: var(--body);
}

input::placeholder {
    color: var(--blue);
}

.manual-button {
    width: 150px;
    height: 45px;
    padding: 14px 0;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
}

.manual .row:nth-child(odd) .manual-button {
    border: 1px solid var(--blue);
    background-color: var(--blue);
}

.manual .row:nth-child(odd) .manual-button:hover {
    background-color: var(--white);
    color: var(--blue);
    transition: 0.25s ease-out;
}

.manual .row:nth-child(even) .manual-button {
    border: 1px solid var(--red);
    background-color: var(--red);
}

.manual .row:nth-child(even) .manual-button:hover {
    background-color: var(--white);
    color: var(--red);
    transition: 0.25s ease-out;
}

.manual-image {
    display: block;
    width: 100%;
    padding: 30px;
}

.manual-image img {
    display: block;
    width: 100%;
}

/* ======================================================= */
/* PLAN */
/* ======================================================= */

.plan {
    padding: 100px;
}

.plan-head,
.plan-body {
    text-align: center;
}

.plan-head {
    margin-bottom: 32px;
}

.plan-body {
    line-height: 2.125;
    margin-bottom: 80px;
}

.plan-item-group {
    display: flex;
    justify-content: space-between;
}

.plan-item {
    position: relative;
    width: 530px;
    height: 738px;
    border-radius: 15px;
    border: 1px solid #E5E5E5;
}

.plan-pricing {
    width: 100%;
    height: 346px;
    padding: 60px;
    border-bottom: 1px solid #E5E5E5;
}

.plan-use {
    position: absolute;
    top: 0;
    right: 60px;
    width: 50px;
    height: auto;
}

.plan-use img {
    display: block;
    width: 100%;
}

.plan-image {
    width: auto;
    height: 142px;
    margin-bottom: 40px;
}

.plan-image img {
    height: 100%;
}

.plan-price {
    font-weight: 500;
}

.plan-price .dollor {
    position: relative;
    top: -12px;
    font-weight: 300;
    font-size: 20px;
}

.plan-price .month {
    font-weight: 300;
    font-size: 20px;
}

.plan-desc {
    width: 100%;
    height: 392px;
    padding: 60px;
}

.plan-desc ul {
    margin-bottom: 60px;
}

.plan-desc li {
    height: 18px;
    font-size: 18px;
    color: var(--body);
    margin-bottom: 32px;
}

.plan-desc li:last-child {
    margin-bottom: 0;
}

.plan-button {
    width: 160px;
    height: 44px;
    padding: 12px 40px 10px;
    color: var(--white);
    margin-right: 12px;
}

.trial {
    height: 44px;
    background-color: var(--white);
    border: none;
}

.personal .plan-button {
    background-color: var(--blue);
}

.personal .plan-button:hover {
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
    transition: 0.25s ease-out;
}

.personal .trial {
    color: var(--blue);
}

.business .plan-button {
    background-color: var(--red);
}

.business .plan-button:hover {
    border: 1px solid var(--red);
    background-color: var(--white);
    color: var(--red);
    transition: 0.25s ease-out;
}

.business .trial {
    color: var(--red);
}

/* ======================================================= */
/* DOWNLOAD */
/* ======================================================= */

.download {
    position: relative;
    height: 664px;
    margin: 60px 0;
    padding: 140px;
    background-color: #EFF8FF;
}

.download-head {
    line-height: 1.25;
    margin-bottom: 56px;
}

.download-body {
    max-width: 700px;
    line-height: 2.125;
    margin-bottom: 72px;
}

.download-image {
    width: 420px;
    height: 830px;
    background-image: url('./assets/download-screen.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -80px;
    right: 140px;
}

.download-link {
    display: flex;
    position: relative;
}

.download-link h3 {
    margin-right: 96px;
}

.download-link a {
    display: block;
    height: 40px;
    margin-right: 16px;
}

.download-link a:last-child {
    margin-right: 0;
}

/* ======================================================= */
/* SUBSCRIBE */
/* ======================================================= */

.subscribe {
    padding: 180px 0 0;
}

.subscribe .row {
    padding-bottom: 60px;
    border-bottom: 1px solid #E5E5E5;
}

.subscribe-head {
    margin-bottom: 40px;
}

.subscribe-body {
    max-width: 800px;
    line-height: 2.125;
}

.subscribe-button {
    width: 240px;
    height: 60px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    letter-spacing: 0.1em;
    box-shadow: 8px 8px 20px rgba(128, 224, 221, 0.25);
    cursor: pointer;
}

.subscribe-button:hover {
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
    transition: 0.25s ease-out;
}

.subscribe .col-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} /* align button right center */

/* ======================================================= */
/* FOOTER */
/* ======================================================= */

.footer {
    padding: 100px 0 60px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
}

.footer-head {
    font-family: 'Poppins';
    font-size: 20px;
    color: var(--head);
    margin-bottom: 40px;
}

.footer ul {
    font-family: 'Rubik';
    font-size: 16px;
    color: var(--body);
}

.footer li {
    margin-bottom: 20px;
}

.footer-sns-group {
    display: flex;
}

.footer-sns-icon {
    width: 15px;
    height: 15px;
    margin-right: 48px;
    display: flex;
    justify-content: center;
}

.footer-sns-icon img {
    height: 100%;
}

.footer-sns-icon:last-child {
    margin-right: 0;
}

.copyright {
    margin-bottom: 42px;
    color: var(--body);
}